*.dll
*.exe
*.zip
*.tar
*.tar.gz
*.tgz

.DS_Store
example.tf

.terraform/
terraform.tf*
.terraform.*
*.plan

bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.idea/
*.iml
*.test

archive/*.zip
website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
