---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/file/resource.tf" }}

{{ tffile "examples/resources/file/multiple-files.tf" }}

{{ tffile "examples/resources/file/lambda.tf" }}

{{ .SchemaMarkdown | trimspace }}
