---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/archive-file-s3/main.tf" }}

{{ tffile "examples/lambda/main.tf" }}

{{ tffile "examples/multiple-files/main.tf" }}

{{ tffile "examples/opaque/main.tf" }}

{{ tffile "examples/source-dir/main.tf" }}

{{ tffile "examples/source-dir-tgz/main.tf" }}

{{ tffile "examples/source-dirs-py/main.tf" }}

{{ tffile "examples/source-file/main.tf" }}

{{ tffile "examples/source-file-content/main.tf" }}

{{ tffile "examples/source-file-content-tgz/main.tf" }}

{{ tffile "examples/source-file-tgz/main.tf" }}

{{ .SchemaMarkdown | trimspace }}
